<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the CultureChat</title>
    <link rel="stylesheet" type="text/css" href="css/registration.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body style="background-color: #47a1d9; color: #000;">
    <div align="center">
      <div id="box">
        <h1>
          You have successfully set up your password!
        </h1>
      </div>
    </div>
  </body>
</html>
